<a href="/" class="logo">cinch</a>
<div class="container">
	<div class="row top-30">
		<div class="col-md-2 col-sm-2">
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div>

				<form id="post-form">
					<td colspan="4">
						<h3>Which Department?</h3>
						<div>
							<select class="form-control" id="department">
								{{!-- <option value="1">Select Department</option>
								<option value="2">appliances</option>
								<option value="3">antiques</option>
								<option value="4">atv/utv/sno</option>
								<option value="5">auto parts</option>
								<option value="6">bikes</option>
								<option value="7">boats</option>
								<option value="8">books</option>
								<option value="9">cars+trucks</option>
								<option value="10">cds/dvd/vhs</option>
								<option value="11">computers</option>
								<option value="12">free</option>
								<option value="13">furniture</option>
								<option value="14">motorcycles</option>
								<option value="15">music instr</option>
								<option value="16">tickets</option>
								<option value="17">video gaming</option>
								<option value="18">wanted</option>
								<option value="19">wheels+tires</option> --}}
							</select>
						</div>
						<h3>Title</h3>
						<input placeholder="Enter Your Post Title" id="post-name" type="text" />
					</td>
					<td colspan="4">
						<h3>Description</h3>
						<textarea placeholder="Enter Your Post Description" id="post-description" type="text"rows="10" cols="80"></textarea>
					</td>
					<td>
						<button id="create-post-button" class="btn btn-success">Create Post</button>
					</td>
				</form>
			</div>
		</div>
	</div>
</div>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/department.js"></script>