<!DOCTYPE html>
<html>

<head>
    <title>Passport with Sequelize</title>
</head>

<body>
    <header class="container">
        <div class="logo">cinch</div>
        <nav>
            <ul>

                <li class="highlighter"><a href="/createpost">Create a post</a></li>
                <li class="highlighter"><a href="/logout">Log out</a></li>

            </ul>
            <a href="/createpost">Create new Post</a>
        </nav>
    </header>
    <div class="containerDash">
        <h2>Dashboard</h2>
        <h5>Hurray! you are logged in.</h5>
    </div>
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
            </div>
        </div>
    </div>
</body>

</html>