<body>
  <header class="container">
    <div class="logo">cinch</div>
    <nav>
      <ul>
        <li><a href="/signin">log in</a></li>
        <li class="highlighter"><a href="/signup">sign up</a></li>
      </ul>
    </nav>
  </header>

    <main class="container mid">
    <div class="device">
      <figure>
        <img src="/images/Group 20.png" alt="The cinch app with wallet" />
      </figure>
    </div>
      <section class="hero container">
        <h1>A place where selling<br>
          and buying is a<br>
          cinch.</h1>
        <p>Selling and buying products has never been so simple.</p>
        <a href="/departments">Visit the Store!</a>
      </section>

  </main>
</body>

</html>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>